<%  include include/main-header %>
<% var tokenContentStr="";
if (typeof address_token !== 'undefined' && address_token !== null && address_token !="") {
	var tokenContentStr = JSON.parse(address_token.token_content);
}
%>
</head>
<body>
 	<% include include/header %>
	<!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
           Contact
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="/" title="Home">
                  Home
                </a>
              </li>
              
              <li class="active">
                Contact
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->
	<!--container start-->
    <div class="container">
		<div class="row">
		
<% if (typeof queryStr.error !== 'undefined' && queryStr.error !== null && queryStr.error !="") {	%>
	<div class="alert alert-danger alert-dismissable"><%=  queryStr.error %></div>
<% 	}	%>
<% if (typeof queryStr.success !== 'undefined' && queryStr.success !== null && queryStr.success !="") {	%>
	<div class="alert alert-success alert-dismissable"><%=  queryStr.success %></div>
<% 	}	%>
			<section class="tab wow fadeInLeft" STYLE="margin-bottom:15px;">
				 <header class="panel-heading tab-bg-dark-navy-blue">
              		<ul class="nav nav-tabs nav-justified ">
               		<% if (typeof tokenContentStr['uk'] !== 'undefined' && tokenContentStr['uk'] !== null && tokenContentStr['uk']!="") {	%>
        				<li class="active"><a href="#tabs-1" data-toggle="tab">UK Head Office</a></li>
        			<% } %>
         			<% if (typeof tokenContentStr['uk_registered_office'] !== 'undefined' && tokenContentStr['uk_registered_office'] !== null && tokenContentStr['uk_registered_office']!="") { %>
        				<li><a data-toggle="tab" href="#tabs-2">UK Registered Office</a></li>
        			<% } %>
       	 			<% if (typeof tokenContentStr['ambala'] !== 'undefined' && tokenContentStr['ambala'] !== null && tokenContentStr['ambala']!="") { %>
        				<li><a data-toggle="tab" href="#tabs-3">India Support Centre</a></li>
          			<% } %>
          			<% if (typeof tokenContentStr['Sydney'] !== 'undefined' && tokenContentStr['Sydney'] !== null && tokenContentStr['Sydney']!="") { %>
        				<li><a href="#tabs-4" data-toggle="tab">Sydney Office</a></li>
         			<% } %>
               		</ul>
            	</header>
            	<div class="panel-body">
              		<div class="tab-content tasi-tab">
              			<% if (typeof tokenContentStr['uk'] !== 'undefined' && tokenContentStr['uk'] !== null && tokenContentStr['uk']!="") {
    						var addrDetails= tokenContentStr['uk']	%>
			  			<div id="tabs-1" class="tab-pane fade in active">
							<div CLASS="row">
								<div class="col-lg-5 col-sm-5 address">
          							<section class="contact-infos">
            							<h4 class="title custom-font text-black">ADDRESS</h4>
            								<address>
            	 								<% if (typeof addrDetails.address !== 'undefined' && addrDetails.address !== null) {	%>
			 										<%- addrDetails.address %><br>
			 									<% }else{ %>
			  										SUITE 608, HAMILTON HOUSE, 
													111 MARLOWES, 
													HEMEL HEMPSTEAD,
													HERTS <br />
													HP1 1BB UK <br> </p>
												<% } %>
            								</address>
										</section>
										<% if (typeof addrDetails.sales_number !== 'undefined' && addrDetails.sales_number !== null) {	%>
          								<section class="contact-infos">
            								<h4 class="title custom-font text-black">For sales please call</h4>
            								<p><%= addrDetails.sales_number %></p>
          								</section>
         								 <% } %>
          							<section class="contact-infos">
            							<h4>Enquiry</h4>
         								<% if (typeof addrDetails.email_address !== 'undefined' && addrDetails.email_address !== null) {	%>
                							<p>Email: <a href="mailto:<%= addrDetails.email_address %>"><%= addrDetails.email_address %></a></p>
            							<% } %>
            							<p>
										<% if (typeof addrDetails.phone_number !== 'undefined' && addrDetails.phone_number !== null) {	%>
										<STRONG>For support call:</STRONG><BR>
										<%= addrDetails.phone_number %><BR>
										<% } %>
										<% if (typeof addrDetails.fax_number !== 'undefined' && addrDetails.fax_number !== null) {	%>
											UK Fax Number:&nbsp <%= addrDetails.fax_number %>
           								 <% } %> 
										</p>
									</section>
								</div>
								<% if (typeof addrDetails.map !== 'undefined' && addrDetails.map !== null) {	%>
								<div class="col-lg-7 col-sm-7 address">
        						<iframe src="<%= addrDetails.map %>" scrolling="no" marginheight="0" marginwidth="0"  STYLE="width:100%; height:425px;" frameborder="0"></iframe></iframe>
        						</div>
							 <% } %> 
							</div>
						</div>
						<% } %>
				
						<% if (typeof tokenContentStr['uk_registered_office'] !== 'undefined' && tokenContentStr['uk_registered_office'] !== null && tokenContentStr['uk_registered_office']!="") {
    						var addrDetails= tokenContentStr['uk_registered_office']	%>
                			<div id="tabs-2" class="tab-pane fade"><div CLASS="row">
								<div class="col-lg-5 col-sm-5 address">
          							<section class="contact-infos">
            							<h4 class="title custom-font text-black">ADDRESS</h4>
            								<address>
            	 								<% if (typeof addrDetails.address !== 'undefined' && addrDetails.address !== null) {	%>
			 										<%- addrDetails.address %><br>
			 									<% }else{ %>
			  										SUITE 608, HAMILTON HOUSE, 
													111 MARLOWES, 
													HEMEL HEMPSTEAD,
													HERTS <br />
													HP1 1BB UK <br> </p>
												<% } %>
            								</address>
										</section>
										<% if (typeof addrDetails.sales_number !== 'undefined' && addrDetails.sales_number !== null) {	%>
          								<section class="contact-infos">
            								<h4 class="title custom-font text-black">For sales please call</h4>
            								<p><%= addrDetails.sales_number %></p>
          								</section>
         								 <% } %>
          							<section class="contact-infos">
            							<h4>Enquiry</h4>
         								<% if (typeof addrDetails.email_address !== 'undefined' && addrDetails.email_address !== null) {	%>
                							<p>Email: <a href="mailto:<%= addrDetails.email_address %>"><%= addrDetails.email_address %></a></p>
            							<% } %>
            							<p>
										<% if (typeof addrDetails.phone_number !== 'undefined' && addrDetails.phone_number !== null) {	%>
										<STRONG>For support call:</STRONG><BR>
										<%= addrDetails.phone_number %><BR>
										<% } %>
										<% if (typeof addrDetails.fax_number !== 'undefined' && addrDetails.fax_number !== null) {	%>
											UK Fax Number:&nbsp <%= addrDetails.fax_number %>
           								 <% } %> 
										</p>
									</section>
								</div>
								<% if (typeof addrDetails.map !== 'undefined' && addrDetails.map !== null) {	%>
								<div class="col-lg-7 col-sm-7 address">
        						<iframe src="<%= addrDetails.map %>" scrolling="no" marginheight="0" marginwidth="0"  STYLE="width:100%; height:425px;" frameborder="0"></iframe></iframe>
        						</div>
							 <% } %> 
							</div></div>
                		<% } %>
                		<% if (typeof tokenContentStr['ambala'] !== 'undefined' && tokenContentStr['ambala'] !== null && tokenContentStr['ambala']!="") {
    						var addrDetails= tokenContentStr['ambala']	%>
                			<div id="tabs-3" class="tab-pane fade"><div CLASS="row">
								<div class="col-lg-5 col-sm-5 address">
          							<section class="contact-infos">
            							<h4 class="title custom-font text-black">ADDRESS</h4>
            								<address>
            	 								<% if (typeof addrDetails.address !== 'undefined' && addrDetails.address !== null) {	%>
			 										<%- addrDetails.address %><br>
			 									<% }else{ %>
			  										SUITE 608, HAMILTON HOUSE, 
													111 MARLOWES, 
													HEMEL HEMPSTEAD,
													HERTS <br />
													HP1 1BB UK <br> </p>
												<% } %>
            								</address>
										</section>
										<% if (typeof addrDetails.sales_number !== 'undefined' && addrDetails.sales_number !== null) {	%>
          								<section class="contact-infos">
            								<h4 class="title custom-font text-black">For sales please call</h4>
            								<p><%= addrDetails.sales_number %></p>
          								</section>
         								 <% } %>
          							<section class="contact-infos">
            							<h4>Enquiry</h4>
         								<% if (typeof addrDetails.email_address !== 'undefined' && addrDetails.email_address !== null) {	%>
                							<p>Email: <a href="mailto:<%= addrDetails.email_address %>"><%= addrDetails.email_address %></a></p>
            							<% } %>
            							<p>
										<% if (typeof addrDetails.phone_number !== 'undefined' && addrDetails.phone_number !== null) {	%>
										<STRONG>For support call:</STRONG><BR>
										<%= addrDetails.phone_number %><BR>
										<% } %>
										<% if (typeof addrDetails.fax_number !== 'undefined' && addrDetails.fax_number !== null) {	%>
											UK Fax Number:&nbsp <%= addrDetails.fax_number %>
           								 <% } %> 
										</p>
									</section>
								</div>
								<% if (typeof addrDetails.map !== 'undefined' && addrDetails.map !== null) {	%>
								<div class="col-lg-7 col-sm-7 address">
        						<iframe src="<%= addrDetails.map %>" scrolling="no" marginheight="0" marginwidth="0"  STYLE="width:100%; height:425px;" frameborder="0"></iframe></iframe>
        						</div>
							 <% } %> 
							</div></div>
						<% } %>
						<% if (typeof tokenContentStr['Sydney'] !== 'undefined' && tokenContentStr['Sydney'] !== null && tokenContentStr['Sydney']!="") {
    						var addrDetails= tokenContentStr['Sydney']	%>
							<div id="tabs-4" class="tab-pane fade"><div CLASS="row">
								<div class="col-lg-5 col-sm-5 address">
          							<section class="contact-infos">
            							<h4 class="title custom-font text-black">ADDRESS</h4>
            								<address>
            	 								<% if (typeof addrDetails.address !== 'undefined' && addrDetails.address !== null) {	%>
			 										<%- addrDetails.address %><br>
			 									<% }else{ %>
			  										SUITE 608, HAMILTON HOUSE, 
													111 MARLOWES, 
													HEMEL HEMPSTEAD,
													HERTS <br />
													HP1 1BB UK <br> </p>
												<% } %>
            								</address>
										</section>
										<% if (typeof addrDetails.sales_number !== 'undefined' && addrDetails.sales_number !== null) {	%>
          								<section class="contact-infos">
            								<h4 class="title custom-font text-black">For sales please call</h4>
            								<p><%= addrDetails.sales_number %></p>
          								</section>
         								 <% } %>
          							<section class="contact-infos">
            							<h4>Enquiry</h4>
         								<% if (typeof addrDetails.email_address !== 'undefined' && addrDetails.email_address !== null) {	%>
                							<p>Email: <a href="mailto:<%= addrDetails.email_address %>"><%= addrDetails.email_address %></a></p>
            							<% } %>
            							<p>
										<% if (typeof addrDetails.phone_number !== 'undefined' && addrDetails.phone_number !== null) {	%>
										<STRONG>For support call:</STRONG><BR>
										<%= addrDetails.phone_number %><BR>
										<% } %>
										<% if (typeof addrDetails.fax_number !== 'undefined' && addrDetails.fax_number !== null) {	%>
											UK Fax Number:&nbsp <%= addrDetails.fax_number %>
           								 <% } %> 
										</p>
									</section>
								</div>
								<% if (typeof addrDetails.map !== 'undefined' && addrDetails.map !== null) {	%>
								<div class="col-lg-7 col-sm-7 address">
        						<iframe src="<%= addrDetails.map %>" scrolling="no" marginheight="0" marginwidth="0"  STYLE="width:100%; height:425px;" frameborder="0"></iframe></iframe>
        						</div>
							 <% } %> 
							</div></div>
						<% } %>
				
              </div>
            </div>
			</section>
		</div>
	</div>


   	<!--footer start-->
    <% include include/footer %>
    <!--footer end-->
  </body>
</html>