<%  var searchTerm="";
if (typeof queryString !== 'undefined' && queryString !== null) {
searchTerm=queryString;
} 
%>

<% include include/main-header %>
</head>
<body>
	<% include include/header %>
	<!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
           	Search Results
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="/" title="Home">
                  Home
                </a>
              </li>
              
              <li class="active">
                Search
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->
	<div class="container">
		<div class="row">
			<h1>Search result for '<%= searchTerm %>'</h1>
			<section class="tab wow fadeInLeft" STYLE="margin-bottom:15px;">
				<header class="panel-heading tab-bg-dark-navy-blue">
              		<ul class="nav nav-tabs nav-justified ">
        				<li class="active li_list" id="site_li"><a href="#tab-1" onClick="$.doSearch('site','<%= searchTerm %>');">Site search result</a></li>
        				<li class="li_list" id="blog_li"><a href="#tab-2" onClick="$.doSearch('blog','<%= searchTerm %>');" >Blog</a></li>
        				<li class="li_list" id="news_li"><a href="#tab-3" onClick="$.doSearch('news','<%= searchTerm %>');">News</a></li>
    				</ul>
    			</header>
    			<div class="panel-body">
              		<div class="tab-content tasi-tab">
    			<div id="tab-1">
    				<div id="content-tab-1">
    				
    				</div>
    				<div style="text-align:center;margin-top:20px;" >
						<a id="site_display_more_btn" style="width: 60%; margin-bottom: 10px;display:none;" class="btn btn-primary display_more_btn" title="Load more" onclick="load_more()" href="javascript:void(0);">
						Load more
						</a>
        			</div>
        			<div id="site_img_loading_div" style="text-align:center;margin-top:20px;display:none;" class="img_loading_div">
						Loading...<br /> <img id="imgAjaxLoading" src="images/loading-1.gif"" width="109" height="25" style="border-width: 0px;">
					</div>
        		</div><!--End of Tab 1-->

    			<div id="tab-2">
    				<div id="content-tab-2">
    				
    				</div>
    				<div style="text-align:center;margin-top:20px;" >
						<a id="blog_display_more_btn" style="width: 60%; margin-bottom: 10px;display:none;" class="btn btn-primary display_more_btn" title="Load more" onclick="load_more()" href="javascript:void(0);">
						Load more
						</a>
        			</div>
        			<div id="blog_img_loading_div" style="text-align:center;margin-top:20px;display:none;" class="img_loading_div">
						Loading...<br /> <img id="imgAjaxLoading" src="images/loading-1.gif"" width="109" height="25" style="border-width: 0px;">
					</div>
   				</div><!--End of Tab 2-->    

    			<div id="tab-3">
    				<div id="content-tab-3"></div>
    				<div style="text-align:center;margin-top:20px;" >
						<a id="news_display_more_btn" style="width: 60%; margin-bottom: 10px; display:none;" class="btn btn-primary display_more_btn" title="Load more" onclick="load_more()" href="javascript:void(0);">
						Load more
						</a>
        			</div>
        			<div id="new_img_loading_div" style="text-align:center;margin-top:20px; display:none;" class="img_loading_div">
						Loading...<br /> <img id="imgAjaxLoading" src="images/loading-1.gif"" width="109" height="25" style="border-width: 0px;">
					</div>
    			</div><!--End of Tab 3-->    
					</div>
				</div>
			</section>
	
		</div>
	</div>
	
 	
	<!--footer start-->
    <% include include/footer %>
    <!--footer end-->
<script>
var xhrStatus;
var searchkeyword="", typeStr="site";
var pageSize=10, totalNum=0;
var start=0, end=pageSize;

$(document).ready(function() {
	var qryStr="";
	<% if (typeof queryString !== 'undefined' && queryString !== null) {	%>
		qryStr="<%= queryString %>";
	<%	}	%>
	$('.display_more_btn').hide();
	$('.img_loading_div').hide();
	$.doSearch('site',qryStr);
});

function load_more(){
	$('.display_more_btn').hide();
	$('#'+typeStr+'_img_loading_div').show();
	start=end+1;
	end=start+pageSize;
	load_data();
}
	$.updateContent = function updateContent(type,html){
		$('.ImageLoadingDiv').hide();
		if(type=='site'){
			$("#content-tab-1").append(html);
		}
		if(type=='blog'){
			$("#content-tab-2").append(html);
		}
		else if(type=='news'){
			$("#content-tab-3").append(html);
		}
	}
	
	$.doSearch = function doSearch(type,searchText){
		$(".li_list").removeClass("active");
		$("#"+type+"_li").addClass("active");
		$("#content-tab-1").html('');$("#content-tab-2").html('');$("#content-tab-3").html('');
		start=0, end=pageSize;

		$('.display_more_btn').hide();
		$('.img_loading_div').hide();
		
		$('#'+type+'_img_loading_div').show();
		
		searchkeyword=searchText;
		typeStr=type;
		$('#typeText').attr('value',type);
		load_data();
	}
	
	function load_data(){
		$(".alert").remove();
		totalNum=0;
		var jsonRow="/search-results?start="+start+"&s="+searchkeyword+"&type="+typeStr+"&limit="+pageSize,
		xhrStatus=$.getJSON(jsonRow,function(html){
			if(html.error){
				var msg='<div class="alert alert-danger">No search results found!</div>';
				$.updateContent(typeStr,msg);
			}else{
				if(html.total){
					totalNum=parseInt(html.total);
				}
				var contentHtml="";
				$.each(html.aaData, function(i,row){
					if(row.Code!=""){
						contentHtml+='<h4><a href="/'+row.Code+'" title="'+row.Document+'">'+row.Document+'</a></h4>';
                      	contentHtml+='<p>';
                      	var bodyStr=row.Body;
                      	bodyStr=bodyStr.replace(/<\/?[^>]+(>|$)/g, "");
                      	bodyStr=bodyStr.substr(0, 250);
                      	contentHtml+=bodyStr+'... <a href="/'+row.Code+'" title="'+row.Document+'">more</a>';
                      	contentHtml+='</p>';
					}
				});
				$.updateContent(typeStr,contentHtml);
			}
			if(end< totalNum){
				if(totalNum==0){
					$('#'+typeStr+'_display_more_btn').hide();
				}else{
					$('#'+typeStr+'_display_more_btn').show();
				}
			}
			$('.img_loading_div').hide();
		});
	}

</script>
  </body>
</html>